.spacer {
  flex: 1 1 auto;
}

.layout-internal {
  margin-right: 0px;
  flex: 1 1 25%;
  box-sizing: border-box;
  padding: 0px 10px 10px 0px;
  max-width: 25%;
}

.layout-external {
  height: 100%;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.layout {
  cursor: pointer;
  height: 100%;
  margin: 0px -10px -10px 0px;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}

.border-circle {
  border-radius: 60%;
  padding-left: 13px;
  padding-top: 2px;
  border: 2px solid #555;
  width: 50px;
}

.padding {
  padding-left: 10px;
}

.color {
  border: solid coral;
  height: 100px;
  font-size: 60px;
  padding-left: 20px;
}

.font-layout {
  font-size: xx-large;
}

.padding {
  padding-left: 10px;
}

.layout-ext {
  flex: 1 1 auto;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.grid {
  flex: 1 1 100%;
  box-sizing: border-box;
  place-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 80%;
}

.grid-one {
  height: 100%;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.grid-two {
  flex: 1 1 100%;
  max-width: 20%;
}
