#colRight {
   border-radius: 10px;
   border: solid 1px #000000;
   margin-left: 1%;
 }

#colLeft {
  border-radius: 10px;
  border: solid 1px #000000;
  margin-left: 1%;
  padding-left: 21%;
}

#code {
  border-radius: 10px;
  border: solid #000000;
  margin: 1% 1% 1% 1%;
}
