<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Volleyball Ndeveloper</span>
    <span class="spacer"></span>
    <button mat-button (click)="newGame()" id="teacher">
      <mat-icon>group_add</mat-icon>
      <span>Nueva Partida</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div id="separator-line" fxLayout="row" fxLayoutGap="20px">
  <div fxFlex>
    <mat-card class="units-card">
      <mat-toolbar color="accent">
        <mat-toolbar-row></mat-toolbar-row>
      </mat-toolbar>
    </mat-card>
    <mat-card class="units-card">
      <mat-card-title>Marcador</mat-card-title>
      <div fxflexfill="" *ngFor="let team of teams" style="display: flex; padding-left: 25%">
        <div class="layout-internal">
          <div fxflexfill="" fxlayoutalign="center center" class="layout-external font-layout">
            {{team.name}}:
          </div>
        </div>
        <div class="layout-internal color">
          <div fxflexfill="" fxlayoutalign="center center" class="layout-external">
            {{team.score}}
          </div>
        </div>

      </div>
    </mat-card>
    <div class="layout-alignment"></div>
    <mat-card>
      <mat-card-title>Servicio</mat-card-title>
      <div fxflexfill="" class="layout-all">
        <div fxflexfill="" fxlayoutgap="10px grid" class="layout">
          <div class="layout-internal" >
            <div fxflexfill="" fxlayoutalign="center center" class="layout-external font-layout">
            </div>
          </div>
          <div class="layout-internal">
            <div fxflexfill="" fxlayoutalign="center center" class="layout-external font-layout">
              <mat-radio-button class="border-circle"></mat-radio-button>
              <h3 class="padding"> Colo Colo: </h3>
            </div>
          </div>
          <div class="layout-internal">
            <div fxflexfill="" fxlayoutalign="center center" class="layout-external font-layout">
            </div>
          </div>
          <div class="layout-internal">
            <div fxflexfill="" fxlayoutalign="center center" class="layout-external font-layout">
              <mat-radio-button class="border-circle"></mat-radio-button>
              <h3 class="padding"> Cobreloa: </h3>
            </div>
          </div>

        </div>
      </div>
    </mat-card>
    <div class="layout-alignment"></div>
    <mat-card>

      <div fxflexfill="" class="layout-all">
        <div fxflexfill="" fxlayoutgap="10px grid" class="layout">
          <div class="layout-internal">
            <div fxflexfill="" fxlayoutalign="center center" class="layout-external font-layout">
            </div>
          </div>
          <div class="layout-internal">
            <div fxflexfill="" fxlayoutalign="center center" class="layout-external font-layout">
              <button mat-raised-button>Click me!</button>
            </div>
          </div>
          <div class="layout-internal">
            <div fxflexfill="" fxlayoutalign="center center" class="layout-external font-layout">
            </div>
          </div>
          <div class="layout-internal">
            <div fxflexfill="" fxlayoutalign="center center" class="layout-external font-layout">
              <button mat-raised-button>Click me!</button>
            </div>
          </div>

        </div>
      </div>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
